.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  
  .headerRow {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
  }

  .headerRow, .productRow {
    display: grid;
    grid-template-columns: 25% 15% 15% 20% 25%;
    align-items: center;
    border: 1px solid black;
    padding: 0.5rem;
  }

.images {
    display: inline-block; /* placerar bilderna i en linje */
}

.images img {
    max-width: 50%;
    height: auto;
  }
  
  .closeBtn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 15px;
  }