.carouselWrapper {
  position: relative;
  display: flex;
  height: 300px;
  flex-direction: column;
  z-index: 1;
}

.carouselContentWrapper {
  overflow: hidden;
  display: flex;
}

.carouselContent {
  scroll-snap-align: start;
  transition: transform 250ms linear;
}

.carouselContent > div {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.carouselContent > div:hover {
  background-color: lightyellow;
}

.upArrow,
.downArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  border: 0;
  background-color: #fff;
  cursor: pointer;
}

.upArrow {
  margin-bottom: -48px; /* Move the up arrow just above the image container */
  top: 0;
  transform: translateY(-100%); /* Adjust to make sure it's just above */
}

.downArrow {
  margin-top: -48px; /* Move the down arrow just below the image container */
  bottom: 0;
  transform: translateY(100%); /* Adjust to make sure it's just below */
}

@media (max-width: 600px) {
  .carouselWrapper {
    display: none;
  }
}