.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  max-width: 1280px;
  margin: auto;
  row-gap: 50px;
  margin-top: 150px;
}

.categoryText {
  grid-column: 1 / -1;
  height: 40px
}

.productCard {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  justify-content: start;
  background-color: #FFFEFA;
  width: 100%;
}

.productCard > div {
  text-align: center;
  padding: 10px;
  flex-basis: 305px;
  flex-shrink: 1;
  background-color: whitesmoke;
}

.productCard a {
  text-decoration: none;
}

@media screen and (max-width: 1278px) {

  .container {
    padding: 0 10px;
  }
  
  .productCard {
    justify-content: space-evenly;
  }

  .productCard > div {
    flex-grow: 1;
    max-width: 350px;
  }
}

@media (max-width: 768px) {

  .productCard {
    justify-content: space-evenly;
  }

  .productCard > div {
    flex-basis: calc(50% - 20px); /* Gör två kolumner */
    flex-grow: 1;
  }
}

@media (max-width: 400px) {
  .productCard > div {
    flex-basis: calc(100% - 20px); /* Stapla korten när skärmen blir riktigt liten */
  }
}