.productWrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* dra ner antalet till 4 */
  max-width: 1280px;
  margin: auto;
  margin-top: 240px;
}

/* Mitten låda - utvald bild */
.pictureWrapper {
  grid-column: 2 / 7;
  grid-row: 1;

  background-color: whitesmoke;

  display: flex;
  justify-content: center; /* Centrerar horisontellt */
  align-items: center;     /* Centrerar vertikalt */
}

/* Höger låda - produktinfo */
.productDetails {
  grid-column: 8 / 13;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  background-color: #FFFEFA;
}

.productDetails > .shopbtn {
  margin-top: auto;
}

.pictureGrid {
  display: none;
}

button {
  display: block;
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 1278px) {
    
  .productWrapper {
      padding: 0 10px;
  }
}

@media (max-width: 768px) {

  .pictureWrapper {
    grid-column: 2 / -1;
  }

  .productDetails {
    grid-column: 2 / -1;
  }
}

@media screen and (max-width: 600px) {
  productWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
  }

  .pictureWrapper {
    display: none;
  }

  /* Visa alla bilder i mobil-läge */
  .pictureGrid {
    grid-column: 1 / -1;
    grid-row: 1;
    height: 200px;

    display: flex; /* Flexbox för att skapa ett bildspel */
    overflow-x: auto; /* Tillåter horisontell rullning */
    scroll-snap-type: x mandatory; /* Aktiverar scroll-snap horisontellt */
    gap: 10px;
  }

  .pictureGrid div {
    flex: none; /* Ingen flex-beteende */
    scroll-snap-align: start; /* Snappa till början av varje bild */
    min-width: 100%; /* Varje bild tar upp hela bredden på mobila enheter */
  }

  .productDetails {
    grid-column: 1 / -1;
    grid-row: 3;
    height: 200px;
    margin-top: 30px;
  }
}