.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 1280px;
    margin: auto;
    /* Behövs för att hålla allting rätt positionerat med position fixed */ 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: white;
    align-items: center;
}

.menu {
    grid-column: 1 / 10;
    grid-row: 3 / 4;
}

.search {
    grid-column: 10 / 13;
    grid-row: 3 / 4;
    justify-self: end;
}

.cart {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
    justify-self: end;
}

@media screen and (max-width: 1278px) {

    .container {
        padding: 0 10px;
    }
}

@media screen and (max-width: 1024px) {

    .menu {
        grid-column: 1 / 13;
        justify-self: start;
        margin-top: 2px;
    }

    .search {
        grid-column: 1 / 13;
        justify-self: auto;
    }
}